@use "components";



html {
    min-width: 100vw;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    max-height: 100vw;
    background-color: components.$bg-color;
}


.footer {
    height: 400px;
    background-color: components.$color-text;
    color: white;
    min-width: 100%;
    margin: 0;
    padding: 20px 50px 0px 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler {
    color: components.$color-text;
}

.container-description {
    max-width: 100vw;
    padding-top: 100px;

    .description-text {
        max-width: 100%;
    }

    .img-about {
        border-radius: 100%;
        width: 150px;
        height: 150px;
        box-shadow: 0 0 0 5px components.$color-text;
    }
}

.container-description-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}

.container-gral {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
}







@media (max-width: 576px) {
    .title {
        font-size: 2rem;
    }

    .title-section {
        font-size: 2rem;
    }

    .description-text {
        font-size: 1rem;
    }

    .ul-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;

        a {
            font-size: 1rem;

            &:hover {
                color: white;
            }
        }
    }

    .container-eduskill {
        display: block;

    }

    .list-group {
        .list-group-item {
            padding-left: 10px;

            p {
                font-size: 1rem;
            }

            small {
                font-size: 1rem;
            }
        }
    }

    .carousel {
        min-width: 100vw;
        .carousel-item {
            padding: 4rem;
        }

        .carousel-item {
            img {
                width: 100px;
                height: 150px;
                border-radius: 100%;
                align-items: center;
                padding: 0;
            }
        }
    }

}


@media (min-width: 577px) and (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }


    .title-section {
        font-size: 2.5rem;
    }

    .description-text {
        font-size: 1.5rem;
    }

    .ul-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;

        a {
            font-size: 1.5rem;

            &:hover {
                color: white;
            }
        }
    }

    .container-eduskill {
        display: block;

    }

    .list-group {
        .list-group-item {
            padding-left: 10px;

            p {
                font-size: 1.5rem;
            }

            small {
                font-size: 1.5rem;
            }
        }
    }

    .carousel {
        min-width: 100vw;

        .carousel-item {
            padding: 13rem;
        }

        .carousel-item {
            img {
                width: 100px;
                height: 150px;
                border-radius: 100%;
                align-items: center;
                padding: 0;
            }
        }
    }



}

@media (min-width: 769px) and (max-width: 1077px) {
    .title {
        font-size: 3rem;
    }
   
    .title-section {
        font-size: 2.5rem;
    }

    .description-text {
        font-size: 1.5rem;
    }

    .ul-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;

        a {
            font-size: 1.5rem;

            &:hover {
                color: white;
            }
        }
    }

    .container-eduskill {
        display: block;

    }

    .list-group {
        .list-group-item {
            padding-left: 10px;

            p {
                font-size: 1.5rem;
            }

            small {
                font-size: 1.5rem;
            }
        }
    }

    .carousel {
        min-width: 100vw;

        .carousel-item {
            padding: 13rem;
        }

        .carousel-item {
            img {
                width: 100px;
                height: 150px;
                border-radius: 100%;
                align-items: center;
                padding: 0;
            }
        }
    }


}